CREATE DATABASE QUANLYXEMAY
ON
PRIMARY ( NAME = QLCHXM_data,
      FILENAME = 'd:\QLCHXM.mdf',
      SIZE = 100MB,
      MAXSIZE = 500,
      FILEGROWTH = 50%)
LOG ON 
( NAME = QLCHXM_log,
   FILENAME = 'd:\QLCHXM.ldf',
   SIZE = 50MB,
   MAXSIZE = 100,
   FILEGROWTH = 20
)
GO 
USE QUANLYXEMAY;
GO
--1.BANG KHACHHANG
CREATE TABLE KHACHHANG (
	MAKH NVARCHAR(10) NOT NULL,
	TENKH NVARCHAR(50) NOT NULL,
	GIOITINH NVARCHAR(3) DEFAULT 'NAM',
	NGAYSINH DATETIME,
	DC_HIENTAI NVARCHAR(50) NOT NULL,
	HKTT NVARCHAR(50) NOT NULL,
	DTKH NVARCHAR(13) DEFAULT '',
	SCMND NVARCHAR(10) DEFAULT ''
)
GO
--2.BANG THONGTINXEMAY
CREATE TABLE THONGTINXEMAY (
	MAXE NVARCHAR(10) NOT NULL,
	TENXE NVARCHAR(50) DEFAULT '',
	NHASX NVARCHAR(50) DEFAULT '',
	NGAYSX DATE DEFAULT '',
	MAUXE NVARCHAR(50) DEFAULT '',
	KIEUDANG NVARCHAR(50)  DEFAULT '',
	SOKHUNG NVARCHAR(50) DEFAULT '',
	SOSUON NVARCHAR(50)  DEFAULT '',
	GIADENGHI MONEY DEFAULT ''
)
GO
--3.BANG HANGCUNGCAP
CREATE TABLE HANGCUNGCAP (
	MAHCC NVARCHAR(10) NOT NULL,
	TENHCC NVARCHAR(50) NOT NULL,
	DIACHI NVARCHAR(50) NOT NULL,
	DTHCC NVARCHAR(13) DEFAULT '',
	EMAIL NVARCHAR(50) DEFAULT ''
)
GO
--4.BANG NHANVIEN
CREATE TABLE NHANVIEN (
	MANV NVARCHAR(10) NOT NULL,
	TENNV NVARCHAR(50) NOT NULL,
	NGSINH DATE,
	GIOITINH NVARCHAR(3) DEFAULT 'NAM',
	DIACHI NVARCHAR(50) DEFAULT '',
	DTNV NVARCHAR(13) DEFAULT '',
	LCB MONEY,
	NGVAOLAM DATE,
	MA_CV NVARCHAR(10) NOT NULL
)
GO
--5.BANG CHUC_VU
CREATE TABLE CHUC_VU (
	MA_CV NVARCHAR(10) NOT NULL,
	TEN_CV NVARCHAR(50) NOT NULL,
	GHICHU NVARCHAR(50) DEFAULT ''
)
GO
--6.BANG PHIEUNHAP
CREATE TABLE PHIEUNHAP (
	MANHAP NVARCHAR(10) NOT NULL,
	NGAYNHAP DATE,
	MANV NVARCHAR(10) NOT NULL,
	MAHCC NVARCHAR(10) NOT NULL
)
GO
--8.BANG CHITIET_P_NHAP
CREATE TABLE CHITIET_P_NHAP (
	MANHAP NVARCHAR(10) NOT NULL,
	MAXE NVARCHAR(10) NOT NULL,
	SLNHAP INT DEFAULT '',
	GIANHAP MONEY DEFAULT '',
	THUENHAP MONEY DEFAULT ''
)
GO
--7.BANG PHIEUXUAT
CREATE TABLE PHIEUXUAT (
	MAXUAT NVARCHAR(10) NOT NULL,
	NGAYXUAT DATETIME,
	MANV NVARCHAR(10) NOT NULL,
	MAKH NVARCHAR(10) NOT NULL
)

GO
--9.BANG CHITIET_P_XUAT
CREATE TABLE CHITIET_P_XUAT (
	MAXUAT NVARCHAR(10) NOT NULL,
	MAXE NVARCHAR(10) NOT NULL,
	SLXUAT INT DEFAULT '',
	GIAXUAT MONEY DEFAULT '',
	THUEXUAT MONEY DEFAULT ''
)
GO
--10.BANG LOAIBAOHANH
CREATE TABLE BAOHANH (
	MABH NVARCHAR(10) NOT NULL,
	THOIHAN NVARCHAR(50)DEFAULT '12'
)
GO
--11.BANG CHITIET_BAOHANH
CREATE TABLE CHITIET_BAOHANH (
	MACTBH NVARCHAR(10) NOT NULL,
	MAKH NVARCHAR(10) NOT NULL,
	MABH NVARCHAR(10) NOT NULL,
	MAHCC NVARCHAR(10) NOT NULL,
	SOKHUNG NVARCHAR(50) NOT NULL,
	NGAYDENBH DATETIME,
	SOLANBH INT DEFAULT '',
	CHIPHIBH MONEY DEFAULT ''
)
GO
--12.BANG NGUOIDUNG
CREATE TABLE NGUOIDUNG(
	MAND NVARCHAR(10) NOT NULL, 
	TENDN NVARCHAR(50) NOT NULL, 
	MATKHAU NVARCHAR(50) NOT NULL,
	HOTEN NVARCHAR(50)  NOT NULL,
	NGAYSINH DATE   NOT NULL,
	SDT NVARCHAR(13) NOT NULL,
	DIACHI NVARCHAR(50) NOT NULL,
	MANHOM NVARCHAR(10) NOT NULL
)
GO
--13.BANG NHOMNGUOIDUNG
CREATE TABLE NHOMNGUOIDUNG(
	MANHOM NVARCHAR(10) NOT NULL, 
	TENNHOM NVARCHAR(50) NOT NULL, 
)
GO
--KHOA CHINH VA KHOA NGOAI CUA CAC BANG
--KHOA CHINH CHO BANG KHACHHANG
ALTER TABLE KHACHHANG ADD CONSTRAINT P_KH PRIMARY KEY (MAKH)
--KHOA CHINH CHO BANG CHITIET_P_NHAP
ALTER TABLE CHITIET_P_NHAP ADD CONSTRAINT P_CTCHN PRIMARY KEY (MANHAP,MAXE)
--KHOA CHINH CHO BANG CHITIET_P_XUAT
ALTER TABLE CHITIET_P_XUAT ADD CONSTRAINT P_CTCHX PRIMARY KEY (MAXUAT,MAXE)
--KHOA CHINH CHO BANG THONGTINXEMAY
ALTER TABLE THONGTINXEMAY ADD CONSTRAINT P_TTXM PRIMARY KEY (MAXE)
--KHOA CHINH CHO BANG HANGCUNGCAP
ALTER TABLE HANGCUNGCAP ADD CONSTRAINT P_HCC PRIMARY KEY (MAHCC)
--KHOA CHINH CHO BANG NHANVIEN
ALTER TABLE NHANVIEN ADD CONSTRAINT P_NV PRIMARY KEY (MANV)
--KHOA CHINH CHO BANG CHUC_VU
ALTER TABLE CHUC_VU ADD CONSTRAINT P_CV PRIMARY KEY (MA_CV)
--KHOA CHINH CHO BANG PHIEUXUAT
ALTER TABLE PHIEUXUAT ADD CONSTRAINT P_PX PRIMARY KEY (MAXUAT)
--KHOA CHINH CHO BANG PHIEUGNHAP
ALTER TABLE PHIEUNHAP ADD CONSTRAINT P_PN PRIMARY KEY (MANHAP)
--KHOA CHINH CHO BANG BAOHANH
ALTER TABLE BAOHANH ADD CONSTRAINT P_BH PRIMARY KEY (MABH)
--KHOA CHINH CHO BANG CHITIET_BAOHANH
ALTER TABLE CHITIET_BAOHANH ADD CONSTRAINT P_CTBH PRIMARY KEY (MACTBH)
--KHOA CHINH CHO BANG NGUOIDUNG
ALTER TABLE NGUOIDUNG ADD CONSTRAINT P_ND PRIMARY KEY (MAND)
--KHOA CHINH CHO BANG NHOMNGUOIDUNG
ALTER TABLE NHOMNGUOIDUNG ADD CONSTRAINT P_NND PRIMARY KEY (MANHOM)
--END KHOA CHINH
GO
--KHOA NGOAI CHO CAC BANG
--KHOA NGOAI CHO BANG NHANVIEN
ALTER TABLE NHANVIEN ADD CONSTRAINT F_CV FOREIGN KEY (MA_CV) REFERENCES CHUC_VU
--KHOA NGOAI CHO BANG CHITIET_P_NHAP
ALTER TABLE CHITIET_P_NHAP ADD CONSTRAINT F_CTCHN1 FOREIGN KEY (MANHAP) REFERENCES PHIEUNHAP
ALTER TABLE CHITIET_P_NHAP ADD CONSTRAINT F_CTCHN2 FOREIGN KEY (MAXE) REFERENCES THONGTINXEMAY
--KHOA NGOAI CHO BANG CHITIET_P_XUAT
ALTER TABLE CHITIET_P_XUAT ADD CONSTRAINT F_CTCHX1 FOREIGN KEY (MAXUAT) REFERENCES PHIEUXUAT
ALTER TABLE CHITIET_P_XUAT ADD CONSTRAINT F_CTCHX2 FOREIGN KEY (MAXE) REFERENCES THONGTINXEMAY
--KHOA NGOAI CHO BANG PHIEUNHAP
ALTER TABLE PHIEUNHAP ADD CONSTRAINT F_PN1 FOREIGN KEY (MANV) REFERENCES NHANVIEN
ALTER TABLE PHIEUNHAP ADD CONSTRAINT F_PN2 FOREIGN KEY (MAHCC) REFERENCES HANGCUNGCAP
--KHOA NGOAI CHO BANG PHIEUGXUAT
ALTER TABLE PHIEUXUAT ADD CONSTRAINT F_PX1 FOREIGN KEY (MANV) REFERENCES NHANVIEN
ALTER TABLE PHIEUXUAT ADD CONSTRAINT F_PX2 FOREIGN KEY (MAKH) REFERENCES KHACHHANG
--KHOA NGOAI CHO BANG CHITIET_BAOHANH
ALTER TABLE CHITIET_BAOHANH ADD CONSTRAINT F_CTBH1 FOREIGN KEY (MAKH) REFERENCES KHACHHANG
ALTER TABLE CHITIET_BAOHANH ADD CONSTRAINT F_CTBH2 FOREIGN KEY (MABH) REFERENCES BAOHANH
ALTER TABLE CHITIET_BAOHANH ADD CONSTRAINT F_CTBH3 FOREIGN KEY (MAHCC) REFERENCES HANGCUNGCAP
--KHOA NGOAI CHO BANG TK_DANGNHAP
ALTER TABLE NGUOIDUNG ADD CONSTRAINT F_ND FOREIGN KEY (MANHOM) REFERENCES NHOMNGUOIDUNG
--END KHOA NGOAI
GO
SET DATEFORMAT dmy;
----------------------------------------------------------------------------------------
--THEM DU LIEU CHO DATABASE
GO
--THEM DU LIEU CHO BANG NHOMNGUOIDUNG
INSERT INTO NHOMNGUOIDUNG VALUES ('MN001',N'Administrator')
INSERT INTO NHOMNGUOIDUNG VALUES ('MN002',N'Quản Lý')
INSERT INTO NHOMNGUOIDUNG VALUES ('MN003',N'Nhân Viên')
GO
--THEM DU LIEU CHO BANG NGUOIDUNG
INSERT INTO NGUOIDUNG VALUES ('ND001','admin', 'admin',N'Võ Văn Quyền','22/02/1991',N'0931313',N'Bình Dương','MN001')
INSERT INTO NGUOIDUNG VALUES ('ND002','nhanvien', 'nhanvien',N'Bùi Đức Quân','22/02/1991',N'33433535',N'Cao Bằng','MN003')
INSERT INTO NGUOIDUNG VALUES ('ND003','quanly', 'quanly',N'Nguyễn Văn Minh','22/02/1991',N'32424242',N'Đồng Nai','MN002')
GO
--THEM DU LIEU CHO BANG BAOHANH
GO
INSERT INTO BAOHANH VALUES ('BH01',N'12 Tháng')
INSERT INTO BAOHANH VALUES ('BH02',N'18 Tháng')
INSERT INTO BAOHANH VALUES ('BH03',N'24 Tháng')
GO
--THEM DU LIEU CHO BANG CHUC_VU
INSERT INTO CHUC_VU VALUES('CV01',N'Nhân viên bảo hành',N'Xử lý bảo hành')
INSERT INTO CHUC_VU VALUES('CV02',N'Kế toán',N'Thanh toán và xác lập hóa đơn')
INSERT INTO CHUC_VU VALUES('CV03',N'Marketing',N'Giao dịch và giới thiệu khách hàng')
GO
--THEM DU LIEU CHO BANG NHANVIEN
INSERT INTO NHANVIEN VALUES ('NV001',N'Nguyễn Đức Quân', '20/02/1992',N'Nam',N'Bình Dương','0988.023.025',3000000,'20/02/2010','CV01')
INSERT INTO NHANVIEN VALUES ('NV002',N'Nguyễn Thị Bưởi', '20/02/1990',N'Nữ','Long An','0988.023.025',3500000,'20/02/2010','CV05')
INSERT INTO NHANVIEN VALUES ('NV003',N'Hoàng Văn Thụ', '20/02/1985',N'Nam',N'Bình Thuận','0988.023.025',4000000,'20/02/2010','CV04')
GO
--THEM DU LIEU CHO BANG HANGCUNGCAP
INSERT INTO HANGCUNGCAP VALUES ( 'HCC01','Yamaha',N'Số 16 - Đường số 1 - Quận 5 - TPHCM','08-02513025','Yamaha@yahoo.com')
INSERT INTO HANGCUNGCAP VALUES ( 'HCC02','Honda',N'Số 13 - Đường số 2 - Quận 4 - TPHCM','08-02513025','Honda@yahoo.com')
INSERT INTO HANGCUNGCAP VALUES ( 'HCC03','SYM',N'Số 18 - Đường số 4 - Quận 2 - TPHCM','08-02513025','Sym@yahoo.com')
GO
--THEM DU LIEU CHO BANG THONGTINXEMAY
INSERT INTO THONGTINXEMAY VALUES('XM001','Exciter','Yamaha','20/06/2012',N'Đen',N'Nữ','4243535','414444','')
INSERT INTO THONGTINXEMAY VALUES('XM002','Exciter 2012','Yamaha','20/06/2012',N'Trắng',N'Nam','43534545','4424535','')
INSERT INTO THONGTINXEMAY VALUES('XM003','Exciter','Yamaha','20/06/2012',N'Trắng',N'Nam','64646','441455','')
GO
--THEM DU LIEU CHO BANG PHIEUNHAP
INSERT INTO PHIEUNHAP VALUES('PN01','15/02/2012','NV001','HCC01')
INSERT INTO PHIEUNHAP VALUES('PN02','01/01/2012','NV002','HCC03')
INSERT INTO PHIEUNHAP VALUES('PN03','13/05/2012','NV003','HCC02')
GO
--THEM DU LIEU CHO BANG CHITIET_P_NHAP
INSERT INTO CHITIET_P_NHAP VALUES('PN01','XM001','20','12000','5')
INSERT INTO CHITIET_P_NHAP VALUES('PN02','XM002','12','11000','5')
INSERT INTO CHITIET_P_NHAP VALUES('PN03','XM003','13','16000','5')
GO
--THEM DU LIEU CHO BANG KHACHHANG
INSERT INTO KHACHHANG VALUES('KH001',N'Nguyễn Thị Quỳnh Nga',N'Nữ','20/03/1992',N'Long An',N'Phú Thọ','0988.256.253','2810092352')
INSERT INTO KHACHHANG VALUES('KH002',N'Nguyễn Văn Hưng','Nam','20/09/1980',N'Tây Ninh',N'Bình Phước','0988.256.253','2810092352')
INSERT INTO KHACHHANG VALUES('KH003',N'Trần Thị Bưởi',N'Nữ','20/03/1989',N'Bình Phước',N'TP.HCM','0988.256.253','2810092352')
GO
--THEM DU LIEU CHO BANG PHIEUXUAT
INSERT INTO PHIEUXUAT VALUES('PX01','15/02/2012','NV001','KH001')
INSERT INTO PHIEUXUAT VALUES('PX02','01/01/2012','NV002','KH002')
INSERT INTO PHIEUXUAT VALUES('PX03','13/05/2012','NV003','KH003')
GO
--THEM DU LIEU CHO BANG CHITIET_P_XUAT
INSERT INTO CHITIET_P_XUAT VALUES('PX01','XM001','1','15000','5')
INSERT INTO CHITIET_P_XUAT VALUES('PX02','XM002','5','18000','5')
INSERT INTO CHITIET_P_XUAT VALUES('PX03','XM006','9','19000','5')
GO
--THEM DU LIEU CHO BANG CHITIET_BAOHANH
INSERT INTO CHITIET_BAOHANH VALUES('CTBH01','KH001','BH01','HCC01','00001','15/02/2012','1','500.000')
INSERT INTO CHITIET_BAOHANH VALUES('CTBH02','KH002','BH02','HCC02','00002','25/02/2012','1','100.000')
INSERT INTO CHITIET_BAOHANH VALUES('CTBH03','KH003','BH01','HCC03','00003','13/02/2012','1','200.000')
--Trigger
GO
CREATE TRIGGER TRI_HANGHOA_DE
ON THONGTINXEMAY INSTEAD OF DELETE
AS
	DELETE FROM CHITIET_P_XUAT WHERE MAXE IN (SELECT MAXE FROM deleted)
	DELETE FROM CHITIET_P_NHAP WHERE MAXE IN (SELECT MAXE FROM deleted)
	DELETE FROM THONGTINXEMAY WHERE MAXE IN (SELECT MAXE FROM deleted)
GO
--Xoa bang phieu nhap va ctpn va thongtinxemay
--CREATE TRIGGER TRI_CTPHIEUNHAP_DE
--ON CHITIET_P_NHAP INSTEAD OF DELETE
--AS
--	DELETE FROM CHITIET_P_NHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
--	DELETE FROM THONGTINXEMAY WHERE MAXE IN (SELECT MAXE FROM deleted)
--	DELETE FROM PHIEUNHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
--GO
--Xoa bang phieu nhap va ctpn	
CREATE TRIGGER TRI_CTPHIEUNHAP_DE
ON PHIEUNHAP INSTEAD OF DELETE
AS
	DELETE FROM CHITIET_P_NHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
	DELETE FROM PHIEUNHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
GO
--Xoa chi tiet phieu nhap	
--CREATE TRIGGER TRI_DECTPHIEUNHAP_DE
--ON CHITIET_P_NHAP INSTEAD OF DELETE
--AS
--	DELETE FROM PHIEUNHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
--	DELETE FROM CHITIET_P_NHAP WHERE MANHAP IN (SELECT MANHAP FROM deleted)
	
GO
--Xoa bang phieu xuat va ctpx
CREATE TRIGGER TRI_CTPHIEUXUAT_DE
ON PHIEUXUAT INSTEAD OF DELETE
AS
	DELETE FROM CHITIET_P_XUAT WHERE MAXUAT IN (SELECT MAXUAT FROM deleted)
	DELETE FROM PHIEUXUAT WHERE MAXUAT IN (SELECT MAXUAT FROM deleted)
	
GO
--Xoa bang nhan vien
CREATE TRIGGER TRI_NHANVIEN_DE
ON NHANVIEN INSTEAD OF DELETE
AS
	DELETE FROM PHIEUNHAP WHERE MANV IN (SELECT MANV FROM deleted)
	DELETE FROM PHIEUXUAT WHERE MANV IN (SELECT MANV FROM deleted)
	DELETE FROM NHANVIEN WHERE MANV IN (SELECT MANV FROM deleted)
	
	DELETE FROM CHITIET_P_NHAP WHERE MANHAP='PN08'
--VIEW DOANH THU-----------
GO
Create view DOANHTHU
as
(
select distinct CHITIET_P_XUAT.MAXUAT,THONGTINXEMAY.TENXE, PHIEUXUAT.NGAYXUAT, CHITIET_P_NHAP.GIANHAP,
				CHITIET_P_XUAT.GIAXUAT,DOANHTHU = (CHITIET_P_XUAT.GIAXUAT-CHITIET_P_NHAP.GIANHAP)
from CHITIET_P_NHAP, CHITIET_P_XUAT, THONGTINXEMAY, PHIEUXUAT
where CHITIET_P_NHAP.MAXE=THONGTINXEMAY.MAXE and CHITIET_P_XUAT.MAXE=THONGTINXEMAY.MAXE and PHIEUXUAT.MAXUAT = CHITIET_P_XUAT.MAXUAT
)


--STORED PROCEDURE
GO
--Them thong tin nguoi dung
CREATE PROC pro_ThemNguoiDung

	 @MAND nvarchar(10),
	 @TENDN nvarchar(50),
	 @MATKHAU nvarchar(50),
	 @HOTEN nvarchar(50),
	 @NGAYSINH date,
	 @SDT nvarchar(13),
	 @DIACHI nvarchar(50),
	 @MANHOM nvarchar(10)
AS
	INSERT INTO NGUOIDUNG(MAND, TENDN, MATKHAU, HOTEN, NGAYSINH, SDT, DIACHI, MANHOM) 
	VALUES(@MAND, @TENDN, @MATKHAU,@HOTEN, @NGAYSINH, @SDT, @DIACHI, @MANHOM)

GO
--Them thong tin nha cung cap
CREATE PROC pro_ThemHangCungCap

	 @MAHCC nvarchar(10),
	 @TENHCC nvarchar(50),
	 @DIACHI nvarchar(50),
	 @DTHCC nvarchar(13),
	 @EMAIL nvarchar(50)
AS
	INSERT INTO HANGCUNGCAP(MAHCC, TENHCC, DIACHI, DTHCC, EMAIL) 
	VALUES(@MAHCC, @TENHCC, @DIACHI, @DTHCC, @EMAIL)